/* @font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
} */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/neon-led');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/francesco-ungaro-jqKS0ET-wGE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    /* background-color: black; */
    font-family: 'PT Sans Narrow', sans-serif;
    height: 100vh;
}

/* ----------------------------TITRE-------------------------------------- */
.title {
    /* font-family: 'neon'; */
    font-family: 'NEON LED Light', sans-serif;
    color: #FB4264;
    font-size: 80px;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
    animation: neon 4s ease infinite;
    text-align: center;
}

.title2{
    text-align: center;
    color: #fa7116;
    font-family: 'NEON LED Light', sans-serif;
    font-size: 45px;
    padding: 20px;
    margin-top: 10px;

}
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }
    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}
/* ----------------------------------NAVBAR-------------------------------- */

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    padding: 10px;
    padding-left: 50px;
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav ul li a:hover,
nav ul li a:focus {
    animation: neon 1s ease infinite;
}

/* ----------------------------------SLIDER-------------------------------- */

.swiper{
    width: 1200px;
    height: 500px;
}

.swiper-slide{
    display: flex;
}

.swiper .swiper-button-prev{
    color: #eac08d;
    font-weight: bolder;
}

.swiper .swiper-button-prev:hover{
    color: #cd701c;
}

.swiper .swiper-button-next{
    color: #eac08d;
    font-weight: bolder;
}

.swiper .swiper-button-next:hover{
    color: #cd701c;
}

/* ----------------------------------CARD ACCUEIL-------------------------------- */

.content-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}

.news-card {
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 290px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.news-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
    z-index: 0;
}

.news-card__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.news-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    transition: transform 3s ease;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
}

.news-card__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
    transition: background-color 1.5s ease;
}

.news-card__title {
    transition: color 1s ease;
    /* font-family: 'neon'; */
    font-family: 'NEON LED Light', sans-serif;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: .5rem;
}

.news-card__post-date {
    font-size: 18px;
    margin-bottom: .5rem;
    color: #CCC;
}

.news-card__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
}

.news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
}

.news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
}

.news-card:hover .news-card__title {
    color: #fa7116;
}

.news-card:hover .news-card__image {
    transform: scale(1.1);
    z-index: -1;
}

.news-card__excerpt {
    font-weight: 300;
    margin-bottom: 0.5rem;
}

/* -----------------------BOUTON------------------------- */

input[type="submit"]{
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #fa7116;
    height: 30px;
    width: 100px;
    font-family: 'PT Sans Narrow', sans-serif;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
    box-shadow: 0 0 70px rgba(255, 138, 48, 0.8), 0 5px 20px rgba(255, 138, 48, 0.8), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
}

/* -----------------------DETAIL PAGE------------------------- */

.p_detail{
    color: #fff;
    /* width: 500px; */
    text-align: center;
}

.img_group_detail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.img_artist_detail{
    margin: 10px;
}

.container_img_detail{
    display: flex;
    justify-content: center;
}

.bouton_detail{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.bouton_detail1{
    margin: 10px;
}

.a_detail{
    display: flex;
    justify-content: center;
    color: #cd701c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 15px;
}

.info_detail{
    text-align: center;
    color: #fff;
    width: 500px;
    background-color: #cd6f1c0c;
    padding: 25px;
    border-radius: 10px;
}

.info_detail_p{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------FOOTER------------------------- */

.footer-distributed{
	/* background: #cd6f1c09; */
    background-image: url('./images/3.jpg ');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    margin-top: 100px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}
/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(178, 139, 32);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.title_footer{
    color: #fa7116;
    font-family: 'NEON LED Light', sans-serif;
    font-size: 35px;
}