{% extends 'event/index.html' %}
{% load static %}

{% block contenue %}
<h1 class="title2">Identifiez-vous</h1>
<form id="login" method="post" action="{% url 'event:welcome' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label for="username">Login</label>
                <input id="username" name="username">
            </td>
            <td>
                <label for="password">Mot de passe</label>
                <input id="password" name="password">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Connexion">
                <input type="hidden" name="{{next}}">
            </td>
        </tr>
    </table>
</form>
{% endblock %}
